# Python
__pycache__/
*.py[cod]
env/ venv/ .venv/
build/ dist/ .eggs/ *.egg-info/
.mypy_cache/ .pytest_cache/ .coverage coverage/ htmlcov/ .cache/
instance/ *.sqlite3 *.log

# Flask/Render
uploads/
.env
.env.*
!.env.example
!requirements.txt
!render.yaml
!Procfile

# Node / Frontend
node_modules/
dist/ build/ .next/ out/ .vite/ storybook-static/
npm-debug.log* yarn-debug.log* pnpm-debug.log* .pnp .pnp.js

# IDE / OS
.vscode/ .idea/ *.iml
.DS_Store
Thumbs.db
