<div class="sidebar">
{% block content %}
{% extends 'base.html
<div class="sidebar">
    <a href="/dashboard"><span class="icon">🏠</span><span class="label">Dashboard</span></a>
    <a href="/grafik"><span class="icon">📈</span><span class="label">Statistik</span></a>
    <a href="/servers"><span class="icon">🧩</span><span class="label">Servers</span></a>
    <a href="/settings"><span class="icon">⚙️</span><span class="label">Pengaturan</span></a>
    <a href="/admin-log"><span class="icon">📜</span><span class="label">Riwayat</span></a>
    <a href="/change-password"><span class="icon">🔒</span><span class="label">Ganti Password</span></a>
    <a href="{{ url_for('blacklist_image') }}"><span class="icon">🖼️</span><span class="label">Edit Blacklist Gambar</span></a>
        <a href="/logout" class="text-danger"><span class="icon">🚪</span><span class="label">Logout</span></a>
    <a href="/phish-lab"><span class="icon">🧪</span><span class="label">Phish Lab</span></a>
        </div>

{% endblock %}

</div>