{
  "NEURO_GOVERNOR_ENABLE": 1,
  "GOV_REQUIRE_QNA_APPROVAL": true,
  "GOV_MIN_DAYS": 7,
  "GOV_MIN_XP": 2500,
  "GOV_MATURE_ERR_RATE": 0.03,
  "QNA_CHANNEL_ID": 1426571542627614772,
  "NEURO_GOVERNOR_OWNERS": [
    "228126085160763392"
  ]
}